/* Put your CSS here */
.ember-application {
    margin: 0px;
}

body
{
  background-color: #f1f1f1;
}

#carPrice
{
  padding-left: 5px;
  background-color: white;
}

td{
  font-size: 80%;
}

a.brand-logo
{
  padding-left: 20px;
}