/* Put your CSS here */
.ember-application {
    margin: 0px;
}

.welcomeMessageContainer
{
    background-color: #6094ac;
}

.welcomeMessagePanel
{
    margin-top: -200px;
}

body
{
  background-color: #f1f1f1;
}

#carPrice
{
  padding-left: 5px;
  background-color: white;
}

td{
  font-size: 80%;
}

a.brand-logo
{
  padding-left: 20px;
}

* {
    margin: 0;
}
html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
    height: 155px; /* .push must be the same height as .footer */
}